<header class="container">
  <h1>Burger Reastuarnt!</h1>
</header>

<section class="container">
  <h2>Orders Placed!</h2>
  <ul>
    {{#each burgers}}
      {{#unless devoured}}
        <li class="mt-2"><button data-id="{{ id }}" class="devoured btn btn-info btn-sm mr-1">EAT</button>{{ burger_name }}</li>
      {{/unless}}
    {{/each}}
  </ul>
</section>

<section class="container">
  <h2>Burgers Eaten!</h2>
  <ul>
    {{#each burgers}}
      {{#if devoured}}
        <li>{{burger_name}}</li>
      {{/if}}
    {{/each}}
  </section>
</ul>

<section class="container my-5">
  <h2>PLACE YOUR ORDER:</h2>
  <form action="/api/burgers" method="POST">
    <div class="input-group mb-3">
      <input name="burger_name" type="text" class="form-control" placeholder="What kind of burger would you lile to order?" aria-label="Enter burger burger_name">
      <div class="input-group-append">
        <button class="btn btn-outline-info" type="submit">Submit</button>
      </div>
    </div>
  </form>
</section>

<script>
  $(() => {
    $(".devoured").on("click", function() {
      const id = $(this).attr("data-id");
      $.ajax({
        url: `/api/burgers/${id}`,
        method: "PATCH",
        data: { devoured: true }
      }).then(() => {
        location.reload();
      })
    })
  })
</script>