<h2>Burgers on order!</h2>

<ol>
  {{#each burgers}}
    {{#unless devoured}}
      <li>
	        {{burger_name}} 
          <button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		        Devour it!
	        </button>
      </li> 
    {{/unless}}
  {{/each}}
</ol>

<h2>Burgers devoured!</h2>

<ol>
  {{#each burgers}}
    {{#if devoured}}
      <li>
	      {{burger_name}}
      </li>
    {{/if}}
  {{/each}}
</ol>